/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}
.name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.name-id {
    position: absolute;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 18vw;
    color: #fff;
}

.svg-component {
    overflow: hidden;
    position: absolute;
    left: 1%;
    top: 16%;
    width: 300px;
    height: 300px;
}
@keyframes rotate {
    from {transform: rotate(360deg);}
    to {transform: rotate(0);}
}
.svg-component svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotate 7s infinite linear;
}

/* .stick-box {position: absolute;top: 0;} */
.sticker {position: absolute;cursor: move;}
.sticker img {max-width: 100%;}
.stick-npm {width: 120px;top: 800px;left:150px;}
.stick-node {width: 120px;top: 450px;left: 600px;}
.stick-github {width: 220px;top: 119px;left: 1500px;cursor: pointer;}
.stick-js {width: 120px;top: 500px;left: 300px;}
.stick-html {width: 120px;top: 40px;left:700px;}
.stick-sass {width: 120px;top: 150px;left:400px;}
.stick-webpack {width: 120px;top: 10px;left:200px;}
.stick-notion {width: 120px;top: 700px;left:900px;}
.stick-vscode {width: 120px;top: 400px;left:1500px;}
.stick-pinterest {width: 120px;top: 150px;left:1200px;}
.stick-char1 {width: 120px;top: 450px;left:1200px;}
.stick-char2 {width: 120px;top: 150px;left:1000px;}
.stick-netflix {width: 50px;top: 150px;left:1200px;}
